.toast {
  	height: auto;
  	width: auto;
  	position: fixed;
  	backdrop-filter: blur(30px);
  	border-radius: 8px;
  	background: linear-gradient(90.11deg, rgba(82, 82, 82, 0.16), rgba(64, 64, 64, 0.16));
  	border: 0.3px solid #dc2626;
    padding: 12px 16px;
    margin-top: 40px;
    pointer-events: auto;
  	box-sizing: border-box;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	text-align: left;
  	font-size: 14px;
  	color: #ef4444;
  	font-family: Poppins;
    z-index: 10000;
}

.contentWrapper {
  	display: flex;
  	align-items: center;
  	gap: 24px;
}
.toasttext {
  	width: 256px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 4px;
}
.unsupportedFileFormat {
  	align-self: stretch;
  	position: relative;
  	line-height: 20px;
  	font-weight: 600;
}
.pleaseUploadA {
  	align-self: stretch;
  	position: relative;
  	line-height: 20px;
  	font-family: Inter;
  	color: #fafafa;
  	opacity: 0.9;
}
.button {
  	height: 40px;
  	border-radius: 6px;
  	background-color: #000;
  	border: 1px solid #404040;
  	box-sizing: border-box;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 8px 16px;
  	color: #fafafa;
}
.toastButton {
  	position: relative;
  	line-height: 20px;
  	font-weight: 500;
}

