.analyzingTrack {
  	width: 100%;
  	position: relative;
  	background-color: #000;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	gap: 24px;
  	text-align: left;
  	font-size: 14px;
  	color: #fafafa;
  	font-family: Poppins;
}
.navbar {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: center;
  	padding: 24px 80px 0px;
}
.div {
  	align-self: stretch;
  	height: 72px;
  	backdrop-filter: blur(5.2px);
  	border-radius: 40px;
  	background: linear-gradient(115.95deg, rgba(64, 64, 64, 0.4), rgba(255, 255, 255, 0.03));
  	overflow: hidden;
  	flex-shrink: 0;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	padding: 0px 24px;
  	box-sizing: border-box;
}
.container {
  	width: 100%;
  	overflow: hidden;
  	display: flex;
  	align-items: center;
  	padding: 0px 24px;
  	box-sizing: border-box;
  	max-width: 100%;
}
.flex {
  	flex: 1;
  	display: flex;
  	align-items: center;
  	justify-content: space-between;
  	gap: 20px;
}
.trakchekBlk1Icon {
  	width: 81px;
  	position: relative;
  	max-height: 100%;
  	object-fit: cover;
}
.analyzingTrackFlex {
  	display: flex;
  	align-items: center;
  	gap: 20px;
}
.flex2 {
  	display: flex;
  	align-items: center;
  	gap: 4px;
}
.button {
  	height: 40px;
  	border-radius: 6px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 8px 16px;
  	box-sizing: border-box;
  	flex-shrink: 0;
}
.home {
  	position: relative;
  	line-height: 20px;
  	font-weight: 500;
}
.analyzingTrackButton {
  	height: 40px;
  	border-radius: 6px;
  	background-color: rgba(0, 0, 0, 0);
  	border: 0.3px solid #22d3ee;
  	box-sizing: border-box;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 8px 16px;
  	flex-shrink: 0;
}
.button2 {
  	height: 40px;
  	width: 62px;
  	border-radius: 6px;
  	background-color: rgba(255, 255, 255, 0);
  	display: none;
  	align-items: center;
  	justify-content: center;
  	padding: 8px 16px;
  	box-sizing: border-box;
  	flex-shrink: 0;
}
.button5 {
  	height: 40px;
  	box-shadow: 0px 0px 1.7px rgba(174, 238, 250, 0.4);
  	border-radius: 9999px;
  	background-color: #000;
  	border: 0.3px solid #aeeefa;
  	box-sizing: border-box;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 0px 24px;
  	font-family: Manrope;
}
.analyzingTrackDiv {
  	align-self: stretch;
  	height: 904px;
  	overflow: hidden;
  	flex-shrink: 0;
  	display: flex;
  	align-items: flex-start;
  	padding: 16px;
  	box-sizing: border-box;
  	text-align: center;
  	font-size: 48px;
  	font-family: Montserrat;
}
.slot {
  	align-self: stretch;
  	flex: 1;
  	border-radius: 12px;
  	overflow: hidden;
  	display: flex;
  	align-items: flex-start;
  	justify-content: center;
  	padding: 192px 0px;
}
.analyzingTrackContainer {
  	flex: 1;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	padding: 16px 112px;
  	box-sizing: border-box;
  	max-width: 100%;
}
.header {
  	width: 100%;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	gap: 12px;
  	max-width: 100%;
}
.weAreAnalyzing {
  	align-self: stretch;
  	position: relative;
  	letter-spacing: 1px;
  	line-height: 123%;
}
.theAiIs {
  	align-self: stretch;
  	position: relative;
  	font-size: 18px;
  	letter-spacing: 0.01em;
  	line-height: 28px;
  	font-weight: 500;
  	font-family: Inter;
  	color: #d4d4d4;
}

